<html>
<head>

    <title>Add New Account</title>
</head>
    <form action="/account/insert" method="get">

        Account Email: <input id="email" name="email" type="text" />
        <br>
        Account First: <input id="first" name="first" type="text" />
        <br>
        Account Last: <input id="last" name="last" type="text" />
        <br>
        <br>

        <br />

        <input type="submit" />

    </form>


</html>