<html>
<head>

    <title>Account - <%= result[0].account_id %></title>
</head>
<table border="1">
    <h1>School:</h1>
    <h2>
        <ul>
            <li>Account First Name: <%= result[0].first%></li>
            <li>Account Last Name: <%= result[0].last %></li>
        </ul>
    </h2>

</html>